@charset "UTF-8";
/*---ПОДКЛЮЧЕНИЕ-ОБНУЛЯЮЩЕГО-СТИЛЯ--------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
/*---ПОДКЛЮЧЕНИЕ-ШРИФТОВ------------------------*/
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Open Sans Condensed Light";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans Condensed Bold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

/*---ИСПОЛЬЗУЕМЫЕ-ЦВЕТА-------------------------*/
/*---ОСНОВНОЕ-----------------------------------*/
body {
  background: url("../img/images/first-screen/bcg.png");
  font-family: "Open Sans Condensed Bold", sans-serif;
  color: #fff; }

/*---404----------------------------------------*/
.page {
  text-align: center;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px; }

.page__container {
  border: 3px solid;
  -webkit-border-image: -webkit-linear-gradient(70deg, #D1A954 38%, #927538 65%);
  -o-border-image: -o-linear-gradient(70deg, #D1A954 38%, #927538 65%);
  border-image: linear-gradient(20deg, #D1A954 38%, #927538 65%);
  border-image-slice: 1;
  width: 800px;
  height: 450px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
  background: inherit;
  position: relative;
  z-index: 1;
  overflow: hidden; }

.page__container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
  box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);
  -webkit-filter: blur(10px);
  filter: blur(10px); }

h1 {
  color: #D1A954;
  font-size: 120px;
  margin-bottom: 30px;
  font-weight: 800;
  letter-spacing: 0.5px; }

p {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 150%;
  letter-spacing: 0.5px; }

.text {
  font-weight: 800;
  text-transform: uppercase; }

button.button {
  background-color: #D1A954;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 50px;
  font-family: "Open Sans Condensed Bold";
  font-size: 18px;
  letter-spacing: 10%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  button.button:hover {
    background-color: #927538; }

@media (max-width: 1000px) {
  .page__container {
    width: 600px;
    height: 600px; } }

@media (max-width: 767px) {
  .page__container {
    width: 400px;
    height: 600px; } }

@media (max-width: 540px) {
  .page__container {
    width: 300px;
    height: 550px; } }

@media (max-width: 400px) {
  .page__container {
    width: 260px;
    height: 550px; } }
